body{
  background-color: rgb(121,121,121);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

/*NAV BAR*/
nav{
  width: calc(100% - 1em);
  height: 3em;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  border-bottom: 2px solid #101010;
  margin: 0;
}
  nav img{
    height: 100%;
    float: left;
  }
  nav h2{
    display: inline-block;
    width: 6em;
    padding-left: 1em;
    float: left;
    color: #f17376;
  }
  nav .homeLogin{
    display: inline-block;
    float: right;
    padding: 1.25em;
    vertical-align: middle;
  }
    nav .homeLogin a, nav .homeLogin a:active{
      padding: 0;
      margin: 0;
      text-decoration: none;
      /* color: #069182; */
      color: #f17376;
      font-weight: bold;
    }
    nav .homeLogin a:hover{
      text-underline-position: under;
      text-decoration: underline;
    }

/*SECTION*/
section{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 65px;
  text-align: center;

  color: #b84a4c;
  font-weight: 900;
}
section img.background{
  background-image: url("../resources/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;

  display: block;
  z-index: -1;
}
section div{
  z-index: 9999;
  display: inline-block;
  padding: 2em 0 1em 0;
  width: 33%;
  margin: 5em auto auto auto;
}
  section h1{
    margin: 0em auto 3em auto;
    font-size: 2.25em;
    color: #f17376;
    text-shadow: none;
  }
  section p:nth-child(2){
    font-size: 1.5em;
    margin-bottom: 3em;
  }
  section p:nth-child(3){
    font-size: 1.25em;
  }

  section br{
    display: block;
    margin: 0.5em;
    content: " ";
  }
