$mainColor: #f17376;
$secondaryColor: #bb7171;
$footerColor: #BBBBBB;

$footerBackgroundColor: rgb(70,70,70);
$bodyBackgroundColor: rgb(121,121,121);

$mainFont: 'Lato', sans-serif;

$navBarBorder: 2px solid #101010;

$fullWidth: calc(100% - 2em);
$fullWidthPadding: 0 1em;