@import 'basics';


.registerLink:hover{
	cursor: pointer;
}

.section{
	padding-top: 200px;
	height: 100vh;
	text-align: center;

	color: $mainColor;
	font-weight: 900;
	h1{
		margin: 2em auto;
	}
}
