@import 'basics';


.registerLink:hover{
	cursor: pointer;
}

.section{
	padding-top: 200px;
	height: 100vh;
	text-align: center;

	color: $mainColor;
	font-weight: 900;
	h1{
		margin: 2em auto;
	}
}
#textSection{
  background-image: url(../resources/back2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: 59%;
    padding-top: 17em;
    margin-top: 0;
    p{
      color: white;
      text-shadow: 2px 2px $mainColor, 
        -2px 2px $mainColor, 
        2px -2px $mainColor, 
        -2px -2px $mainColor;
    }
}