$mainColor: #f17376;
$secondaryColor: #707070;
$footerColor: #BBBBBB;

$footerBackgroundColor: rgb(70,70,70);
$bodyBackgroundColor: rgb(255,255,255);

$mainFont: 'Lato', sans-serif;

$navBarBorder: 2px solid #101010;

$fullWidth: calc(100% - 2em);
$fullWidthPadding: 0 1em;

$btnDiabledColor: #c46567;
$btnDiabledBackgroundColor: #eeeeee;

$optionTextColor: white;
$reputationOptionBackgroundColor: #3340a2;
$travelsOptionBackgroundColor: #20a727;
$vehiclesOptionBackgroundColor: #d58936;