@import 'basics';

#travelsContainer{
  padding-top: 10em;
  ul{
    list-style: none;
    margin: auto;
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: auto auto auto;

    li{

      border-radius: 30px;

      display: inline-block;
      float: left;
      background: white;
      border: 2px solid $mainColor;
      padding: 2.5em;

      cursor: pointer;
      &:hover{
        color: white;
        background-color: $mainColor;
      }
      &.pilot{
        border: 2px solid green;
        &:hover{
          color: white;
          background-color: green;
        }
      }
    }
  }
}

.travelInfoContainer{
  overflow-y: scroll;
  img{
    height: 2em;
    left: -.5em;
  }

  .copilotContainer, .postulationContainer{
    margin-bottom: .5em;
  }
}
#travelInfoModal{
  .modal-dialog{
      overflow-y: initial !important
  }
  .modal-body{
      height: 75vh;
      overflow-y: scroll;
  }
}
