body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 200px;
  /*padding-top: 7em;*/
}

h2.navbar-center {
  color: #f17376;
}

.footer {
  background-color: #464646;
  height: 5em;
  color: #BBBBBB;
  padding: 1em;
}

.headerLogo {
  height: 4em;
}

.nav-tabs {
  padding: 0.25em 2em 1.5em 2em;
}
.nav-tabs li a {
  padding: 1em;
  border-radius: 1em;
  color: #f17376;
  border: 2px solid transparent;
}
.nav-tabs li a[aria-selected=true] {
  text-decoration: underline;
  border: 2px solid #f17376;
}

.btn {
  color: #f17376;
  background-color: white;
  border-color: #f17376;
}
.btn:hover {
  color: white;
  background-color: #f17376;
  border-color: white;
}
.btn.deleteButton {
  margin-right: 3em;
  color: #af0303;
  border-color: #af0303;
}
.btn.deleteButton:hover {
  color: white;
  background-color: #af0303;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #5e6672;
  background-color: #eeeeee;
  border-color: #5e6672;
  cursor: not-allowed;
}

.btn-secondary {
  color: #84b3f4;
  border-color: #84b3f4;
}
.btn-secondary:hover {
  color: white;
  background-color: #84b3f4;
  border-color: white;
}

form, .tab-pane {
  text-align: left;
  padding: 2em;
}
form .btn, .tab-pane .btn {
  margin: auto 0.5em;
}
form input.is-invalid, .tab-pane input.is-invalid {
  background-color: red !important;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.sectionWhiteSpace {
  display: block;
  height: 100px;
}

.modal-body {
  overflow-y: scroll;
}

i.fas, i.far {
  color: black;
  cursor: pointer;
}
i.fas:hover, i.far:hover {
  color: #f17376;
}

.fa-user#profileDropdown {
  color: #f17376;
  font-size: 2em;
  padding-right: 0.5em;
}
.fa-user#profileDropdown:before {
  border-radius: 5em;
  border: 2px solid transparent;
  padding: 0.25em;
}
.fa-user#profileDropdown:hover:before, .fa-user#profileDropdown.open:before {
  border: 2px solid red;
  color: red;
}

.dropdown-menu {
  left: auto;
  right: 0.25em;
  transition: opacity 2s;
}

.reputationContainer {
  color: #f17376;
}

#searchContainer, #lastTravelsContainer {
  margin-top: 5em;
}

#seachInput {
  color: #f17376;
  border: 2px solid #f17376;
  border-radius: 10px 0 0 10px;
}
#seachInput:focus {
  border: 2px solid red;
  outline: none;
}
#seachInput:focus + #searchButton {
  border: 1px solid red;
}

#seachInput + #searchButton {
  border-radius: 0 10px 10px 0;
}
#seachInput + #searchButton i {
  color: #f17376;
}

.container {
  padding: 3em 0;
}
.container .option {
  padding: 1em;
  text-align: center;
  color: white !important;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 900;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
}
.container .option#reputationOption {
  background-color: #3340a2;
  border-color: #3340a2;
}
.container .option#travelsOption {
  background-color: #20a727;
  border-color: #20a727;
}
.container .option#vehiclesOption {
  background-color: #d58936;
  border-color: #d58936;
}
.container .option:hover {
  transform: scale(1.1);
}

.table a.infoButton {
  color: black;
  cursor: pointer;
}
.table a.infoButton:hover {
  color: #f17376;
}

#myTravelsContainer ul, #lastTravelsContainer ul {
  list-style: none;
  margin: auto;
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-template-columns: auto auto auto;
  /*
  ul{
  	display: block;
  	width: 100%;
  	padding: 0;
  	margin:0;
  	list-style: none;

  	li{
  		border-radius: 10px;

  		border: 2px solid $mainColor;
  		color: $mainColor;
  		background-color: white;

  		padding: 1em 2em;
  		margin: 0.5em;
  		display: inline-block;
  		width: 30%;
  		min-width: 16em;
  		height: 10em;
  		transition: all .5s;
  		cursor: pointer;
  		span{
  			line-height: 2.5em;
  		}
  		.more{
  			display: none;
  			position: absolute;
  			right: 3.5em;
  			bottom: 0.5em;
  		}
  		&:hover{
  			color: white;
  			background-color: $mainColor;
  			transform: scale(1.1);
  		}
  	}*/
}
#myTravelsContainer ul li, #lastTravelsContainer ul li {
  border-radius: 30px;
  display: inline-block;
  float: left;
  background: white;
  border: 2px solid #f17376;
  padding: 2.5em;
  cursor: pointer;
}
#myTravelsContainer ul li:hover, #lastTravelsContainer ul li:hover {
  color: white;
  background-color: #f17376;
}
#myTravelsContainer ul li.pilot, #lastTravelsContainer ul li.pilot {
  border: 2px solid green;
}
#myTravelsContainer ul li.pilot:hover, #lastTravelsContainer ul li.pilot:hover {
  color: white;
  background-color: green;
}
#myTravelsContainer #travelInfoModal .modal-body .col-md-6, #lastTravelsContainer #travelInfoModal .modal-body .col-md-6 {
  margin: 0.25em auto;
}
#myTravelsContainer #travelInfoModal .modal-body .col-md-6 i, #lastTravelsContainer #travelInfoModal .modal-body .col-md-6 i {
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  margin-right: 0.25em;
}
